<div ng-controller="MainCtrl">

<div ng-controller="MainCtrl">
   <div >
    <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{slide.id}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </uib-slide>
    </uib-carousel>
  </div>
</div>

<div class="hero-unit">
  <h1>Welcome to Healthy Living</h1>
  <p>This is a Rapid Prototype demo on how you can use AngularJS
  with Angular UI and Bootstrap to quickly build a clickable
  prototype that can be shown to clients</p>
</div>

<div class="row-fluid">
      <div class="col-md-4" ng-repeat="block in content">
      <img class="img-circle" ng-src="{{block.img}}">
      <h3>{{block.title}}</h3>
      <p>{{block.summary}} </p>
</div>
</div>
